{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </thead>
        <tbody>
            {% for row in history %}
                <tr>
                    <td>{{row.symbol}}</td>
                    <td>{{row.amount}}</td>
                    <td>${{"%.2f"|format(row.price)}}</td>
                    <td>{{row.time}} UTC</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}